* {
    box-sizing: border-box;
  }
  body {
    margin: 0px;
    background-color: rgb(207, 207, 207);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .top {
    text-align: center;
    background-color: #ffffff;
  }
  
  .item {
    margin: 10px;
    padding: 10px;
    background-color: rgb(253, 253, 253);
    display: flex;
    flex-direction: column;
    width: 31%;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .tb {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 200px;
  }
  
  .detail {
    margin-top: -2px;
  }
  .box {
    display: flex;
    justify-content: space-between;
    color: grey;
  }
  
  .edit {
    margin-left: -5px;
  }
  
  .bottom {
    margin: 50px 100px 50px 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  